*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
html,body,section{
	width: 100%;
	height: 100%;
	
}
.container{
	width: 100%;
	height: auto;
}
a{
	color: black;
}
.one{
	color: black;
	background-color: white;
	border-bottom: 1px solid black;
}
.own li a:hover{
	background-color: white;
	color: black;
}
.icon-bar{
	background-color: black;
}
.dd ul{
	float: right;
	margin: 10px 0;
}
.own li a{
	position: relative;
	text-align: center;
}

.wrap li{
	float: left;
	margin: 10px 0;
	cursor: pointer;
}
.p1{
	animation: p1 1s ease-in;
	overflow: hidden;
}
@keyframes p1{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.p2{
	animation: p2 1.2s ease-in;
	overflow: hidden;
}
@keyframes p2{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.p3{
	animation: p3 1.4s ease-in;
	overflow: hidden;
}
@keyframes p3{
    from {
        opacity: 0;
    }
    to {
        opacity: 2;
    }
}
.p4{
	animation: p4 1.6s ease-in;
	overflow: hidden;
}
@keyframes p4{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.p5{
	animation: p5 1.8s ease-in;
	overflow: hidden;
}
@keyframes p5{
    from {
        margin-left : 0px;
        opacity: 0;
    }
    to {
        margin-left : 0px;
        opacity: 1;
    }
}
.bb::before{
	content: '';
	width: 20px;
	height: 2px;
	position: absolute;
	background-color: black;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%)scale(2);
}
/*---------------伪类-----------------*/
.own li{
	position: relative;
}
.own li:after{
	content: '';
	width: 20px;
	height: 2px;
	position: absolute;
	background-color: black;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%)scale(0);
	transition: all .5s;
}
.own li:hover::after{
	transform: translateX(-50%)scale(2);
}

/*动画效果-----------------
 
 * 
 * 
 * 
 * 
 * */
.screen2{
	width: 100%;
	height: 50px;
	color: #333333;
	margin-top: 40px;
	text-align: center;
}
.row2{
	height: auto;
	margin: 6.6%;
}
.janpenes{
	font-size: 5vmin;
	font-weight: 100;
	float: left;
}
.row2{
	animation: float_up 1s ease;
	overflow: hidden;
}
@keyframes float_up{
    from {
    	top: -50px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;       
    }
}

/*------------------------图片动画样式-------------* */

.imglist{
	width: 100%;
	height: auto;
}
.imgcontainer{
	width: 100%;
	height: auto;
}
.imgcontain{
	width: 100%;
	height: auto;
	text-align: center;
}
.imgcontain img{
	width: 85%;
	height: 85%;
}
.imgcontain .rotatesimg{
	-webkit-animation:transform-5 1.5s ease 500ms alternate none 1;
	animation:transform-5 1.5s ease 500ms alternate none 1;
	}
@-webkit-keyframes transform-5 { 
	from{
		-webkit-transform: rotateX(180deg);
		transform:perspective(400px) rotateX(90deg);
		} 
    to{
    	-webkit-transform: rotateX(0deg);
    	transform:rotateX(0deg);
    	} 
}
@keyframes transform-5 { 
	from{-webkit-transform: rotateX(180deg);
	transform:perspective(400px) rotateX(-90deg);
	} 
    to{
    	-webkit-transform: rotateX(0deg);
    	transform: rotateX(0deg);
    	} 
}
/*--------------------文字描述样式------------------------------*/
.descripe{
	width: 100%;
	height: auto;
	margin-top: 2%;
	padding-left: 7.3%;
}
.row4{
	height: auto;
	left: 7.3%;
}
.japan2{
	width: 85%;
	height: auto;
	top: 0;
	font-family: Noto-Sans-CJK-JP-Regular!important;
	font-size: 3vmin;
	font-weight: 500;
	float: left;
}
.japan2 p{
	font-size: 3vmin;
	font-weight: 500;
}
.descripe2{
	width: 100%;
	height: auto;
	top: 1%;
	padding-left: 7.3%;
}
.row5{
	height: auto;
}
.japan3{
	width: 100%;
	height: auto;
	font-family: Noto-Sans-CJK-JP-Regular!important;
	font-size: 2vmin;
	font-weight: 500;
	float: left;
}
.little{
	font-family: Noto-Sans-CJK-JP-Regular!important;
	font-size: 4vmin;
	font-weight: lighter;
	cursor: pointer;
	margin-bottom: 5%;
}
.descripe3{
	width: 100%;
	height: auto;
	top: 1%;
	padding-left: 7.3%;
}
.row6{
	height: auto;
}
.japan4{
	width: 92%;
	height: auto;
	font-family: Noto-Sans-CJK-JP-Regular!important;
	font-size: 2vmin;
	font-weight: 500;
	float: left;
	background-color: #f8f8f8;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 2%;
	border-top: 1px solid gray;
}
pre{
	float: left;
	width: 96%;
	border-right: none;
	border-left: none;
	border-top: none;
	font-size: 3vmin;
	background-color: #f8f8f8;
	margin-top: 60px;
}
.descripe3 p{
	float: left;
	width: 96%;
	font-size: 2vmin;
}


/*底部样式-------------
 
 * 
 * 
 * */

.bot{
	width: 100%;
	height: 300px;
	background-color: black;

	float: left;	
}
.row7{
}
.three{
	width: 31%;
	height: auto;
	margin: 30px 0;
	color: #FFFFFF;
}
#two{
	width: 100%;
	height: 120px;
}
#title{
	width: 25%;
	height: auto;
	color: #fff;
	float: left;
	font-size: 1vmax;
}
#text{
	width: 50%;
	height: auto;
	color: #fff;
	float: right;
	font-size: 1vmax;
}
.social{
	width: 100%;
	height: 80px;
	color: #fff;
	margin-top: 20px;
	font-size: 1vmax;
}
.icons{
	height: 50%px;
	width: 50%;
	float: right;
}
.icons img{
	cursor: pointer;
}

#offices{
	width: 13%;
	height: auto;
	color: #fff;
	margin-top: 30px;
	font-size: 1vmax;
}
#tokyo{
	width: 13%;
	height: auto;
	font-size: 12px;
	font-weight: bold;
	margin-top: 30px;
	color: #fff;
	font-size: 1vmax;
	font-weight: bolder;
}
#kamakua{
	width: 16%;
	height: auto;
	font-size: 12px;
	font-weight: bolder;
	margin-top: 30px;
	color: #fff;
	font-size: 1vmax;
}
#return{
	width: 18%;
	height: auto;
	background-color: black;
	color: #fff;
	float: right;
	font-size: 1vmax;
	margin-top: 30px;
	margin-right: 1%;
	text-align: center;
}